.earn1{
    background-color: black;
}
.earn2{
    background-color: black;
    margin-top: 100px;
}
#earn100{
    background-color: rgb(99, 96, 96);
    margin-bottom: 0px;
}
.earn3{
    background-color: black;
    height: 200px;

}
.earn4{
color: azure;

}
.earnbtn{
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 15px;
    background-color:  #ff0000;
}
.earna{
    color: white;
}
.earna:hover{
    color: black;
}
.earn5{
    margin-bottom: 10px;
    margin-top: 10px;
}