.searchresult{
    float: left;
    margin-top: 5px;
    height: 30px;
 font-size: larger;
 margin-left:80px;
    background-color: transparent;
    color: rgb(196, 30, 30);
}
.linksearch{
    color: #ff0000;
}
.linksearch:hover{
    color: #ff0000;
}