
.announcement {
    background: #ff0000;
    color: #ffffff;
  }
  
  .announcement {
    font-size: 11.8px;
    line-height: 1.4em;
    text-align: center;
    position: relative;
    z-index: 99; }
    .announcement a {
      display: block;
      color: inherit;
      text-decoration: none;
      transition: background 100ms; }
    .announcement a:hover {
      background: rgba(255, 255, 255, 0.1);
      text-decoration: none; }
    .announcement .announcement__inner {
      padding: 6px; }
  
      .logo{
     margin-right: 250px;
     margin-left: 0px;
     padding-left: 0px;
     padding-bottom: 10px;
      }
      .nvitem{
         color: white;
         font-size: 15px;
      }
      .nvitem1{
        color: white;
        font-size: 15px;
        // height: 105%;
        // width: 110%;
        // margin: 0px;
        // padding: 0px;
     }
      .nvitem1:hover{
          color:#ff0000;
          background-color: black;
        
      }
      .nvbr{
          background-color: black;
      }
      .dropmenu{
        background-color: black;
      }
      .nvitemh:hover{
background-color: black;
      }
      .search{
        border-radius: 40px;
        margin-right: 25px;
        height: 40px;
        width: 380px;
      
        font-family: sans-serif;
        font-weight: 500;
        
      }
      
      .mglass{
        margin-right: 80px;
      }
     .giftcard{
     
       color: white;
       background-color: transparent;
       width: 80px;
     }
     .giftcard:hover{
       color: #ff0000;
      
     }
     .user{
     
       color: white;
       background-color: transparent;
       width: 80px;
     }
     .user:hover{
       color: #ff0000;
     }
     .cart{
     
       color: white;
       background-color: transparent;
       width: 80px;
     }
     .cart:hover{
       color: #ff0000;
     }
     .spn{
       color: white;
       font-size: smaller;
       width: 80px;
     }
     .spn:hover{
       color: #ff0000;
     }
     

     span.vertical-separator {
      display: inline-block;
      border-left: 2px solid #ff0000;
      line-height: 1.5;
      height: 22px;
      vertical-align: middle;
      margin-left: 10px;
      margin-top: 8px;
      margin-right: 4px;
  }
  .drptog{
background-color: black !important;
border:none;
  }
  .drptog1{
    border:none;
    background-color: black !important;
    font-size: smaller;
    
  }
  .boathead{
    color: #ff0000;
    margin-left: 14px;
  }
  


.shopitem{
  background-color: black;
  max-width: 1500px;
  max-height: 1500px;
  display: flex !important;
  float: left;
margin-top: -10px;
margin-bottom: -10px;
line-height: 11;



 
}
.shopimg{
     max-height: 250px;
     max-width: 250px;
     transition: all .5s ease-in-out;
  
   }
   .shopimg:hover{
    max-height: 270px;
    max-width: 270px;
   }
   .dropdown-menu.show{
     margin-top: 26px;
     background-color: black;
     margin-left: 0px !important;
  
   }
   
   .butn{
     color: #ff0000;
     margin-left: 20px;
     margin-top: 10px;
   }
   .active1{
     background-color: #b32a2a;
   }
  
   
    
   