#giftcardcom{
    height: 400px;
    width: 50%;
   
}
#cardimg{
    

//   margin-top: 50px;
height: 400px;

 


}
.cardcarousal{
    
    margin-left: 150px;
    height: 420px;
    width: 350px;
}
#giftcardcom1{
    height: 400px;
    width: 50%;
    text-align: left;
    margin-top: 65px;
   
}
.giftcardbtn{
    margin-right: 5px;
    color: white;
    background: transparent;
    margin-top: 10px;
    margin-bottom: 10px;
}
.giftcardbtn:hover{
    background-color: #ff0000;
}
#giftcardcontainer{
    background-color: rgb(26, 25, 25);
}
.giftcardfont{
    color:#ff0000;
}
.giftcardfont1{
    color:white;
}
.giftcardbtn1{
    background-color: #ff0000;
    height: 40px;
    width: 400px;
    margin-top: 10px;
}
.pagepath{
    color: #ff0000;
    text-align: left;
}

.lowprice{
  
    background-color: white;
    float: left;
    margin-left: 180px;width: 12%;
    height: 100%;
    font-size: 20px;
    margin-top: 10px;
    padding-top: 10px;
    // background-color: transparent ;
    border-radius: 10px;
    
    
}