.topics{
    color: red;
    float: left;
   
    margin-top: 10px;
  
}
.topic{
    margin-bottom: 0px;
}
.topi{
    background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
}

.div23{
    display: flex;
    color: rgb(10, 46, 25);
    float: left;
    margin-left: 450px;
    background-color: rgb(230, 230, 230);
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 490px;
    
    margin-bottom: 5px;
    border-radius: 15px;
    margin-top: 5px;
    border-color: #ff0000;
    
}