.scroll{
    float: right;
border: solid white 2px;
    height: 40px;
    display: flex;
    color: #ff0000;
    margin-right: 5px;

   
}
.scroll:hover{
   
border: solid #ff0000 2px;
 
  
    color: white;


   
}
