.flaunt{
    height: 90px;
    font-size: 30px;
    background-color: black;
    padding-top: 22px;
    margin-right: 1px;
}
span.text-stroke {
    -webkit-text-stroke: 1px white;
    font-weight: bold;
}
.dailydeals{
   height: 2200px;
   background-color: black;
   margin-top: 0px;
  }
.dailydeals1{
  margin-top: 5px;
}


