.naviga{
    text-align: left;
}
.pagepath2{
    color: #ff0000 !important;
    text-align: left;
    margin-bottom: 0rem;   
}
.pagepath2:hover{
    color: #ff0000 !important;
    text-align: left;
    margin-bottom: 0rem;
}
.div23{
    display: flex;
    color: rgb(10, 46, 25);
    float: left;
    margin-left: 435px !important;
    background-color: rgb(230, 230, 230);
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 520px;
    
    margin-bottom: 25px;
    border-radius: 15px;
    margin-top: 5px;
    
}