
.frm-bck2{
    background-color: black;
    width: 33%;
    margin-left: 440px;
    margin-top: 50px;
    margin-bottom: 100px;
    background: transparent;
}
#loginbtn{
    background-color: red;
    height: 40px;
    width: 450px;
    border-radius: 5px;
}
.login1{
    text-align: left;
    float: left;
}