.container1
{
    background-color: #050505 !important;
  
  width: 100%;
  list-style: none;
    
}

.col-6.col-lg-3{
    color:white;
  
    margin-top: 40px;
    text-align: left;
    list-style: none !important;
    float: left;
 
   
}

.col-lg-2{
    color:white;
  
    margin-top: 30px;
    text-align: left;
    list-style: none !important;
    float: left;
}


.nvlink{
    padding: 0px;
    margin: 0px;
    color: rgb(170, 162, 162);
    font-size: medium;
    float: left;
    list-style: none;
}
.nvlink:hover{
    color: #ff0000;
}
.copyright{
    margin-top: 15px;
    padding-top: 0px;
    margin-bottom: 0px;
    color: aliceblue;
  height: 30px;
   
}
.link1{
    color: white;
}
.icn{
    color: red;
  
    
}
.icn1{
    color: rgb(192, 41, 124);  
}
.icn3{
    color: rgb(41, 51, 192);  
}


.fot1{
    background-color: rgb(20, 22, 22);
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    

}
.icn4{
    color: #ff0000;
    height: 30px;
   padding: 2px;
}
.icnf{
    color: white;
    font-size: medium;
}
#fot2{
    background-color: #242222;
    height: 80px;
}
.paraf{
 color: rgb(111, 114, 116);
    margin-right: 150px;
    margin-left: 150px;
    padding-top: 20px;

    
}
.ebtn{
    height: 32px;
    width: 30%;
   
    float: left;
   
    margin-top: 5px;
    border: 2px solid#ff0000;
    border-radius: 5px;
    background: transparent;
  color: white;
   
}
.ebtn:hover{
    background-color: #ff0000;
}
.inpt{
   margin-right: 3px;
    height: 38px;
    width: 60%;
    border-radius: 5px;
    background: transparent;
   color: white;
   float: left;

}
.nvlink1{
    padding: 0px;
    margin: 0px;
    color: rgb(170, 162, 162);
    font-size: medium;
    float: left;
    list-style: none;
    margin-top: 30px;
    

}
.fotf{
    font-size: medium;
    margin-left: 12px;
}
#play{
    display: flex;
}
.link2{
    color: white;
    margin-right: 10px;
    margin-top: 15px;
    margin-left: 90px;
    font-size: 15px;
}
.link3{
    margin-left: 50px;
    margin-right: 10px;
}
.img1{
    margin-top: 40px;
    float: left;
}


.flaunt1{
    height: 80px;
    font-size: 30px;
    background-color: black;
    padding-top: 20px;
    margin-right: 5px;
}
